
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 648px;
  box-sizing: border-box;
  overflow: hidden;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}
