
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
  padding: 0 0 0 20px;
}

.content {

  display: block;
  margin: 16px 0 0;
}

.container {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  flex-wrap: nowrap;
  margin: -8px;
}

.item {

  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  padding: 8px;
}
