
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.header {

  display: block;
  height: 70px;
  z-index: 20;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 40px 40px 80px;
  overflow: auto;
  z-index: 10;
}
