
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 8px;
  background: $white;
  border: 1px solid $gray;
  border-radius: $border-radius-small;
  cursor: pointer;
  overflow: hidden;
}

.error {

  border-color: $danger-dark;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.thumb {

  display: block;
  margin: 0 0 0 24px;
}

.icon {

  font-size: 16px;
  color: $gray;
}
