
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
}

.content {

  display: block;
}

.control {

  display: block;
  text-align: center;
  margin: 0 0 0 24px;
}

.row {

  display: block;
  width: 240px;

  & + & {

    margin: 0 0 0 16px;
  }
}
