
@import "~@library/theme";


.wrapper {

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  background: rgba($black, .3);
  backdrop-filter: blur(2px);
  z-index: 10;
  overflow: auto;

  &__content {

    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    overflow: auto;

    &--align_top {

      justify-content: flex-start;
    }
  }
}