
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.controls {

  display: block;
  background: $white;
  padding: 8px 16px;
  text-align: right;
  @include box-shadow('bottom');
  z-index: 20;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 40px 40px 80px;
  z-index: 10;
  overflow: auto;
}

.gallery {

  display: block;
  padding: 32px;
}
