
@import "~@library/theme";


.button {

  display: inline-block;
  padding: 9px 24px;
  font-size: 14px;
  font-family: inherit;
  border-radius: $border-radius-small;
  cursor: pointer;
  background: $white;
  border: 1px solid $white;
  transition:
    background-color $transition-duration,
    border-color $transition-duration;

  &:disabled,
  &:disabled:hover,
  &:disabled:active {

    color: $gray;
    cursor: default;
  }
}

.mode {

  &--primary {

    color: $primary;

    &:hover {
      color: $primary-dark;
    }

    &:active {
      color: $primary;
    }
  }

  &--danger {

    color: $danger;

    &:hover {
      color: $danger-dark;
    }

    &:active {
      color: $danger;
    }
  }

  &--success {

    color: $success;

    &:hover {
      color: $success-dark;
    }

    &:active {
      color: $success;
    }
  }
}