
@import "~@library/theme";


.wrapper {

  display: block;
}

.content {

  display: block;
}

.empty {

  display: block;
  padding: 24px;
  text-align: center;
  background: $white;
  border-radius: $border-radius-small;
}
