
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
}

.header {

  display: block;
}

.control {

  display: block;
  margin: 0 0 0 32px;
}

.link {

  display: inline-block;
  font-size: 13px;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $primary-dark;
  }
}