
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.content {

  display: block;
  min-width: 900px;
  max-width: 1200px;
}

.controls {

  display: block;
  min-width: 900px;
  max-width: 1200px;
  margin: 40px 0 0;
  text-align: center;
}
