
@import "~@library/theme";


td {

  height: 100%;
  vertical-align: top;
  overflow: auto;
}

.col {

  display: block;
  overflow: auto;
}

.content {

  display: block;
  height: 100%;
  padding: 16px;
  overflow: auto;
}
