
@import "~@library/theme";


td {

  height: 100%;
  vertical-align: top;
  overflow: auto;
}

.col {

  display: block;
  padding: 16px;
  text-align: center;
  overflow: auto;
}

.align--left {
  text-align: left;
}

.align--right {
  text-align: right;
}
