
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 1;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  @include box-shadow('bottom');
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.image {

  display: block;
  width: 124px;
  height: 124px;
  border-radius: 8px;
  overflow: hidden;
}

.no-image {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 124px;
  border-radius: 8px;
  background: $gray-light;

  & .icon {

    color: $gray;
    font-size: 48px;
  }
}

.common {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 40px;
}

.modes {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 40px;
}

.available {

  display: block;
  margin: 0 0 0 40px;
}

.control {

  display: block;
  margin: 0 0 0 32px;
}

.icon {

  display: block;
  color: $dark;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: $primary;
  }
}

.row {

  display: block;

  & + & {
    margin: 8px 0 0;
  }
}

.date {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: flex-end;
}