
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 1;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  @include box-shadow('bottom');
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.status {

  display: block;
  width: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.products {

  display: block;
  width: 180px;
  margin: 0 0 0 40px;
}

.delivery {

  display: block;
  width: 180px;
  margin: 0 0 0 40px;
}

.payment {

  display: block;
  width: 180px;
  margin: 0 0 0 40px;
}

.payment {

  display: block;
  margin: 0 0 0 40px;
}

.price {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  flex-wrap: nowrap;
  text-align: right;
  margin: 0 0 0 40px;
}

.control {

  display: block;
  margin: 0 0 0 32px;
}

.icon {

  display: block;
  color: $dark;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  transition: color 150ms;

  &:hover {
    color: $primary;
  }
}

.row {

  display: block;

  & + & {
    margin: 8px 0 0;
  }
}

.gray-light {

  color: $gray;
}

.danger {

  color: $danger;
}

.primary {

  color: $primary;
}

.success {

  color: $success;
}