
@import "~@library/theme";


.available {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.row {

  display: flex;
  flex-direction: row;
  flex: 1 0;

  & + & {

    margin: 8px 0 0;
  }
}
