
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.button {

  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  background: $white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: color $transition-duration, background $transition-duration;

  & + & {
    border-top: 1px solid $gray-light;
  }
}

.icon {

  display: block;
  font-size: 11px;
  margin: 0 1px 0 0;
}

.edit {

  color: $primary;

  &:hover {
    color: $white;
    background: $primary;
  }
}

.delete {

  color: $danger;

  &:hover {
    color: $white;
    background: $danger;
  }
}