
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  min-width: 100%;
  min-height: 124px;
  justify-content: center;
  align-items: center;
  background: $white;
  overflow: hidden;
}
