
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  border-radius: 8px;
  padding: 40px 50px;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.currency {

  display: block;
  width: 80px;
  margin: 0 0 0 24px;
}

.field {

  display: flex;
  flex-direction: column;
  flex: 1 0;

  & + & {

    margin: 0 0 0 16px;
  }
}
