
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  padding: 16px;
  border-radius: $border-radius-small 0 0 $border-radius-small;
  @include box-shadow('bottom');
}

.image {

  display: block;
  width: 94px;
  height: 94px;
  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
  overflow: hidden;
}

.fields {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.name {

  display: block;
  width: 120px;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.control {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  border-radius: 0 $border-radius-small $border-radius-small 0;
  margin: 0 0 0 1px;
  @include box-shadow('bottom');
}
