
@import "~@library/theme";


.wrapper {

  position: relative;
  display: block;
}

.control {

  display: block;
}

.list {

  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: inline-flex;
  flex-direction: column;
  flex: 1 0;
  padding: 4px 0 0;
  max-height: 280px;
  min-width: 220px;
  z-index: 1000;
}

.shadow {

  @include box-shadow('bottom');
}