
@import "~@library/theme";


.wrapper {

  position: relative;
  display: block;
  background: $white;
  padding: 16px;
  border-radius: $border-radius-small;
  @include box-shadow('bottom');
}

.content {

  display: block;
}

.status {

  position: absolute;
  top: -2px;
  right: -2px;
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $gray;
}

.is-new {
  background: $success;
}

