
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0;
  align-items: center;
  padding: 8px 20px 8px 16px;
  font-family: inherit;
  border-radius: 8px;
  color: $primary;
  cursor: pointer;
  background: transparent;
  border: 1px solid $primary;
  transition: color 150ms, border-color 150ms;

  &:hover {

    color: $primary-dark;
    border-color: $primary-dark;
  }

  &:active {

    color: $primary-light;
    border-color: $primary-light;
  }
}

.icon {

  display: block;
  font-size: 21px;
}

.title {

  display: block;
  font-size: 16px;
  margin: 0 0 0 10px;
  font-weight: $font-weight-medium;
}
