
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 7px;
}

.content {

  display: block;
  color: $black;
  font-size: 14px;
  font-weight: $font-weight-light;
}