
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.item {

  display: block;
  border: 1px solid $gray-light;
  padding: 4px;
  border-radius: $border-radius-small;

  & + & {
    margin: 0 0 0 16px;
  }
}