
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.field {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  justify-content: right;

  & + & {
    margin: 8px 0 0;
  }
}

.price {

  display: block;
}

.currency {

  display: block;
  margin: 0 0 0 4px;
}

.danger {

  color: $danger;
}
