
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.image {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  height: 178px;
  border-radius: 3px;
  cursor: pointer;
  overflow: hidden;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 8px 0 0;
}

.mode {

  display: block;
  margin: 16px 0 0;
}

.controls {

  display: block;
  margin: 16px 0 0;
}
