
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 40px 40px 80px;
  max-width: 900px;
}

.header {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 32px 0 0;
  background: $white;
  border-radius: $border-radius-small;
  padding: 32px;
}

.item {

  display: block;

  & + & {

    margin: 16px 0 0;
  }
}
