
@import "~@library/theme";


.wrapper {

  display: table;
  table-layout: auto;
}

thead {

  background: $gray-light;
}

tbody {

  & + & {
    border-top: 1px solid $gray-light;
  }
}

.caption {

  caption-side: bottom;
  padding: 24px;
}
