
@import "~@library/theme";

@import "./_reset.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');


html,
body {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  overflow: auto;
}

strong {
  font-weight: $font-weight-medium;
}

#root {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
  z-index: 10;
}

#dialog {

  position: relative;
  display: block;
  z-index: 100;
}

#gallery {

  position: relative;
  display: block;
  z-index: 110;
}

#store {

  position: relative;
  display: block;
  z-index: 110;
}

#navigate {

  position: relative;
  display: block;
  z-index: 120;
}
