
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.button {

  position: relative;
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 24px;
  height: 24px;
  color: $danger;
  background: transparent;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: color $transition-duration, background $transition-duration;

  &:hover {
    color: $white;
    background: $danger;
  }
}

.icon {

  display: block;
  font-size: 11px;
  color: inherit;
}

.disabled,
.disabled:hover {

  background: transparent;
  color: $gray;
  cursor: default;
}

.in-process,
.in-process:hover {

  color: $danger;
  background: transparent;
  cursor: default;
}

.in-process::before,
.in-process::after {
  content: '';
  position: absolute;
  border: 2px solid;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  border-radius: 50%;
  opacity: 0;
  @include animation-pulse();
}

.in-process::after {
  animation-delay: .9s;
}

