
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.row {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;

  & + & {

    margin: 8px 0 0;
  }
}

.label {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 8px;
  overflow: hidden;
}
