
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: $gray-light;
  overflow: auto;
}

.header {

  display: block;
  z-index: 20;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 40px 40px 80px;
  z-index: 10;
  overflow: auto;
}

.gallery {

  display: block;
  padding: 32px;
}
