
@import "~@library/theme";


.wrapper {

  display: block;
  text-decoration: none;
  color: $dark;
  transition: color 150ms;

  &:hover {
    color: $primary-dark;
  }

  & + & {
    margin: 0 0 0 24px;
  }
}

.link {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.title {

  display: block;
  font-size: 16px;
  color: inherit;
  font-weight: $font-weight-bold;
}

.is-active {

  color: $primary-dark;
  text-decoration: underline;
}
