
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  align-items: center;
  text-decoration: none;
  color: $black;
  transition: color $transition-duration;

  &:hover {
    color: $primary;
  }

  & + & {
    margin: 0 0 0 16px;
  }
}

.wrapper + .wrapper {
  &:before {

    display: block;
    content: '';
    width: 0;
    height: 0;
    border-radius: 50%;
    border: 2px solid $dark;
    margin: 0 16px 0 0;
  }
}

.link {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.title {

  display: block;
  font-size: 13px;
  color: inherit;
  font-weight: $font-weight-bold;
}

.is-active {

  color: $primary;
}
