
@import "~@library/theme";


.wrapper {

  display: inline-flex;
  flex-direction: row;
  flex: 0 0 auto;
}

.icon {

  display: block;
  font-size: 10px;
  color: $black;
  cursor: pointer;

  &:hover {
    color: $primary;
  }
}