
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 1;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  @include box-shadow('bottom');
}

.index {

  display: block;
}

.login {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 16px;
}

.control {

  display: block;
}

.icon {

  display: block;
  color: $dark;
  font-size: 16px;
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {
    color: $primary;
  }
}
