
@import "~@library/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
  border-radius: 16px;
  background: $primary;
  padding: 6px 14px 6px 6px;
  cursor: pointer;
  transition: background-color 150ms;

  &:hover {

    background: $primary-light;
  }
}

.in-process,
.in-process:hover {

  cursor: default;
  background: $primary-light;
}

.disabled,
.disabled:hover,
.disabled:active {

  color: $gray;
  background: $gray-light;
  cursor: default;
}

.bucket {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white;
}

.count {

  display: block;
  font-size: 12px;
  font-weight: $font-weight-light;
  color: $dark;
}

.title {

  display: block;
  font-size: 16px;
  font-weight: $font-weight-medium;
  color: $white;
  padding: 0 0 0 8px;
}

.amount {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: flex-end;
  font-size: 14px;
  font-weight: $font-weight-medium;
  color: $white;
}

.disabled .title,
.disabled .amount {

  color: $gray;
}

.in-process .bucket,
.in-process .title,
.in-process .amount {

  visibility: hidden;
}

.spinner {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  justify-content: center;
  align-items: center;
}
