
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  align-items: center;
  background: $white;
  padding: 48px 32px;
  line-height: 1.6;
  border-radius: $border-radius-medium;
}

.link {

  display: inline-block;
  color: $primary;
  font-weight: $font-weight-medium;
  cursor: pointer;

  &:hover {

    color: $primary-dark;
  }
}
