
@import "~@library/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.image {

  display: block;
  width: 124px;
  height: 124px;
  border-radius: $border-radius-small;
  overflow: hidden;
  z-index: 10;
}

.remove {

  position: absolute;
  top: 2px;
  right: 2px;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 8px;
  color: $danger;
  background: $white;
  border-radius: 50%;
  @include box-shadow('bottom');
  cursor: pointer;
  z-index: 20;
}
