
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.header {

  display: block;
  text-align: center;
}

.content {

  display: block;
  margin: 40px 0 0;
}

.control {

  display: block;
  text-align: center;
  margin: 32px 0 0;
}

.row {

  display: block;

  & + & {

    margin: 16px 0 0;
  }
}

.field {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: flex-end;
}

.input {

  display: flex;
  flex-direction: column;
  flex: 1 0;
}

.thumb {

  display: block;
  width: 18px;
  margin: 0 0 8px 16px;
}

.icon {

  font-size: 18px;
}