
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
}

.icon {

  font-size: 12px;
  color: $gray-dark;
}

.label {

  display: block;

  &:nth-child(1) {
    padding: 0 16px 0 9px;
  }

  &:nth-child(2) {
    width: 20px;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(3) {
    width: 22px;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(4) {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(5) {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(6) {

    display: flex;
    flex-direction: column;
    flex: 1 0;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(7) {

    display: block;
    width: 105px;
    margin: 0 10px 0 0;
    text-align: center;
  }
  &:nth-child(8) {

    display: block;
    width: 12px;
    padding: 0 16px 0 16px;
    text-align: center;
  }
}
