
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
}

.name {

  display: block;
  width: 280px;
}

.value {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 8px;
}

.unit {

  display: block;
  width: 80px;
  margin: 0 0 0 8px;
}

.control {

  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0 8px 0 16px;
}

.icon {

  font-size: 14px;
  color: $danger;
  cursor: pointer;
}
