
@import "~@library/theme";


.wrapper {

  display: block;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  padding: 24px 24px 40px;
  background: $white;
  border-radius: $border-radius-small;
  box-sizing: border-box;
}

.header {

  display: block;
}

.list {

  display: block;
  margin: 24px 0 0;
}

.controls {

  display: block;
  text-align: right;
  margin: 24px 0 0;
}
