
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 48px;
  width: 944px;
  box-sizing: border-box;
  overflow: hidden;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 0 0 auto;
  flex-wrap: wrap;
  margin: -16px;
}

.image {

  display: flex;
  flex-direction: column;
  flex: 0 0 25%;
  padding: 16px;
  box-sizing: border-box;
}

.control {

  display: block;
  text-align: center;
  margin: 32px 0 0;
}