
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 6px 8px;
  border-radius: 18px;
  border: 1px solid rgba($success-light, .6);
  color: $dark;
  cursor: pointer;
  transition: border 150ms, background-color 150ms, color 150ms;

  &:hover {

    border-color: $success-light;
  }

  & + & {

    margin: 0 0 0 12px;
  }
}

.active,
.active:hover {

  color: $white;
  border-color: $success-light;
  background: $success-light;
}

.disabled,
.disabled:hover {

  border-color: $gray-light;
  background: $gray-light;
  color: $gray;
  cursor: default;
}

.content {

  display: block;
  font-size: 14px;
  font-weight: $font-weight-light;
  text-align: center;
}