
@import "~@library/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image {

  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-size: 10px;
  background-position: center;
  background-image: url("./square.svg");
  overflow: hidden;
}

.image img {

  display: block;
}

.height {

  height: 100%;
}
