
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 1;
  background: $white;
  padding: 16px 24px 16px 16px;
  border-radius: 8px;
  align-items: center;
  @include box-shadow('bottom');
}

.image {

  display: block;
  width: 124px;
  height: 124px;
  margin: 0 0 0 16px;
  cursor: pointer;
}

.description {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 24px;
}

.control {

  display: block;
}

.icon {

  display: block;
  color: $danger-light;
  font-size: 16px;
  cursor: pointer;
  transition: color 150ms;

  &:hover {
    color: $danger-dark;
  }
}
