
@import "~@library/theme";


.wrapper {

  display: block;
  max-width: 900px;
}

.breadcrumbs {

  display: block;
  margin: 0 0 24px;
}

.block {

  display: block;

  & + & {

    margin: 64px 0 0;
  }
}
