
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  background: $white;
  align-items: center;
  border-radius: $border-radius-small;
  @include box-shadow('bottom');
}

.checkout {

  display: block;
  margin: 0 0 0 16px;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  align-items: center;
  padding: 16px;
  cursor: pointer;
}

.thumb {

  display: block;
}

.icon-folder {

  font-size: 18px;
  color: $primary;
}

.text {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 0 0 0 24px;
}

.control {

  display: block;
  padding: 16px;
}

.icon {

  display: block;
  color: $danger-light;
  font-size: 14px;
  cursor: pointer;
  margin: 2px 0 0;
  transition: color $transition-duration;

  &:hover {
    color: $danger-dark;
  }
}
