
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  background: $white;
  padding: 16px;
  border-radius: 8px;
  align-items: center;
  cursor: pointer;
  @include box-shadow('bottom');
}

.thumb {

  display: block;
}

.icon-folder {

  font-size: 28px;
  color: $gray;
}

.content {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  margin: 8px 0 0;
  text-align: center;
  justify-content: center;
}

.control {

  display: block;
  margin: 8px 0 0;
}

.icon {

  display: block;
  color: $danger-light;
  font-size: 16px;
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {
    color: $danger-dark;
  }
}
