
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  border-radius: 8px;
  background: $white;
  border: 1px solid $gray-light;
  padding: 8px 12px;
}

.label {

  display: block;
}

.content {

  display: flex;
  flex-direction: row;
  flex: 1 0;
  margin: 0 0 0 16px;
}

.block {

  display: block;

  & + & {

    margin: 0 0 0 16px;
  }
}

.link {

  display: block;
  font-size: 14px;
  font-weight: $font-weight-medium;
  color: $primary;
  text-decoration: underline;
  cursor: pointer;
  transition: color $transition-duration;

  &:hover {

    color: $primary-dark;
  }
}
