
@import "~@library/theme";


.wrapper {

  display: block;
  background: $white;
  padding: 32px;
  border-radius: $border-radius-small;
}

.content {

  display: block;
}

.error {

  border: 1px solid $danger;
}