
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 1 0;
  overflow: auto;
}

.content {

  display: block;
}

.item {

  display: block;

  & + & {
    margin: 8px 0 0;
  }
}
