
@import "~@library/theme";


.wrapper {

  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.image {

  display: block;
  height: 100%;
  border: 1px solid $gray-light;
  border-radius: $border-radius-small;
}
