
@import "~@library/theme";


.wrapper {

  display: flex;
  flex-direction: column;
  flex: 0 0;
  background: $white;
  padding: 40px 72px;
  border-radius: $border-radius-medium;
  width: 400px;
  box-sizing: border-box;
}

.header {

  display: block;
  text-align: center;
}

.fields {

  display: block;
  margin: 40px 0 0;
}

.field {

  display: block;

  & + & {
    margin: 16px 0 0;
  }
}

.controls {

  display: block;
  text-align: center;
  margin: 32px 0 0;
}
