
@import "~@library/theme";


.content {

  display: inline-block;
  font-size: 13px;
  line-height: 1.4;
  color: $primary;
  font-weight: $font-weight-medium;
  cursor: pointer;
  text-decoration: none;
  transition: color $transition-duration;

  &:hover {

    color: $primary-dark;
    text-decoration: underline;
  }
}